body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1175px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2927 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2928 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2929 {
  position:absolute;
  left:10px;
  top:20px;
  width:40px;
  height:40px;
}
#u2930 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2931 {
  position:absolute;
  left:400px;
  top:0px;
  width:375px;
  height:667px;
}
#u2932 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2933 {
  position:absolute;
  left:800px;
  top:0px;
  width:375px;
  height:667px;
}
#u2934 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2935 {
  position:absolute;
  left:0px;
  top:630px;
  width:375px;
  height:40px;
}
#u2936 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
