body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3956 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3957 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u3960 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u3961 {
  position:absolute;
  left:0px;
  top:30px;
  width:375px;
  word-wrap:break-word;
}
#u3962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:13px;
}
#u3962 {
  position:absolute;
  left:6px;
  top:4px;
  width:363px;
  height:13px;
  opacity:0.8;
}
#u3963 {
  position:absolute;
  left:2px;
  top:-2px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3965 {
  position:absolute;
  left:13px;
  top:28px;
  width:25px;
  height:25px;
}
#u3966 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#656565;
  text-align:left;
}
#u3968 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#656565;
  text-align:left;
}
#u3969 {
  position:absolute;
  left:18px;
  top:12px;
  width:339px;
  word-wrap:break-word;
}
#u3970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3970 {
  position:absolute;
  left:290px;
  top:74px;
  width:25px;
  height:25px;
}
#u3971 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3972 {
  position:absolute;
  left:324px;
  top:72px;
  width:45px;
  height:30px;
  font-size:14px;
}
#u3973 {
  position:absolute;
  left:2px;
  top:5px;
  width:41px;
  word-wrap:break-word;
}
#u3972_ann {
  position:absolute;
  left:362px;
  top:68px;
  width:1px;
  height:1px;
}
#u3974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#656565;
  text-align:left;
}
#u3974 {
  position:absolute;
  left:0px;
  top:108px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#656565;
  text-align:left;
}
#u3975 {
  position:absolute;
  left:18px;
  top:2px;
  width:339px;
  word-wrap:break-word;
}
#u3976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#656565;
  text-align:left;
}
#u3976 {
  position:absolute;
  left:0px;
  top:152px;
  width:375px;
  height:88px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#656565;
  text-align:left;
}
#u3977 {
  position:absolute;
  left:18px;
  top:4px;
  width:339px;
  word-wrap:break-word;
}
#u3978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#656565;
  text-align:left;
}
#u3978 {
  position:absolute;
  left:0px;
  top:240px;
  width:375px;
  height:98px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#656565;
  text-align:left;
}
#u3979 {
  position:absolute;
  left:18px;
  top:-1px;
  width:339px;
  word-wrap:break-word;
}
#u3980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
  text-align:left;
}
#u3980 {
  position:absolute;
  left:0px;
  top:338px;
  width:375px;
  height:88px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
  text-align:left;
}
#u3981 {
  position:absolute;
  left:18px;
  top:23px;
  width:339px;
  word-wrap:break-word;
}
#u3980_ann {
  position:absolute;
  left:368px;
  top:334px;
  width:1px;
  height:1px;
}
#u3982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3982 {
  position:absolute;
  left:118px;
  top:500px;
  width:140px;
  height:40px;
}
#u3983 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u3984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#CCCCCC;
  text-align:left;
}
#u3984 {
  position:absolute;
  left:20px;
  top:426px;
  width:340px;
  height:44px;
  font-size:10px;
  color:#CCCCCC;
  text-align:left;
}
#u3985 {
  position:absolute;
  left:2px;
  top:8px;
  width:336px;
  word-wrap:break-word;
}
